<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toloan.pay.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.toloan.pay.pojo.User">
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="solt" property="solt" jdbcType="CHAR" />
    <result column="client" property="client" jdbcType="INTEGER" />
    <result column="channel" property="channel" jdbcType="VARCHAR" />
    <result column="chanal_id" property="chanalId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List">
    id, phone, user_name, password, solt, client, channel, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cl_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cl_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.toloan.pay.pojo.User">
    insert into cl_user (id, phone, user_name, 
      password, solt, client, 
      channel, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{phone,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{solt,jdbcType=CHAR}, #{client,jdbcType=INTEGER}, 
      #{channel,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.toloan.pay.pojo.User" useGeneratedKeys="true" keyProperty="id">
    insert into cl_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="solt != null">
        solt,
      </if>
      <if test="client != null">
        client,
      </if>
      <if test="channel != null">
        channel,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="solt != null">
        #{solt,jdbcType=CHAR},
      </if>
      <if test="client != null">
        #{client,jdbcType=INTEGER},
      </if>
      <if test="channel != null">
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.toloan.pay.pojo.User">
    update cl_user
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="solt != null">
        solt = #{solt,jdbcType=CHAR},
      </if>
      <if test="client != null">
        client = #{client,jdbcType=INTEGER},
      </if>
      <if test="channel != null">
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.toloan.pay.pojo.User">
    update cl_user
    set phone = #{phone,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      solt = #{solt,jdbcType=CHAR},
      client = #{client,jdbcType=INTEGER},
      channel = #{channel,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="countPhone" resultType="java.lang.Integer" parameterType="java.util.Map">
     SELECT  count(1) from cl_user where phone = #{phone,jdbcType=VARCHAR} AND channel = #{channel,jdbcType=VARCHAR}
  </select>

  <!--登录-->
  <select id="getUserByMobile" resultType="com.toloan.pay.pojo.User" parameterType="java.util.Map">
    SELECT <include refid="Base_Column_List" />
    FROM  cl_user
    WHERE phone = #{loginName,jdbcType=VARCHAR} and channel = #{channelCode ,jdbcType=VARCHAR}
  </select>

  <select id="getChannelCode" resultType="com.toloan.pay.pojo.User" parameterType="java.util.Map">
    SELECT <include refid="Base_Column_List" />
    FROM  cl_user
    WHERE user_id = #{userId,jdbcType=BIGINT} and channel = #{channelCode ,jdbcType=VARCHAR}
  </select>
  <select id="getPhone" resultType="com.toloan.pay.pojo.User">
    SELECT <include refid="Base_Column_List" />
    FROM  cl_user
    WHERE  user_id = #{userId,jdbcType=BIGINT}
  </select>
    <select id="getUserChannelCode" resultType="java.lang.String">
      SELECT channel FROM cl_user WHERE id = #{userId,jdbcType=BIGINT}
    </select>

</mapper>